:root{
    --header-color: #EA7C17;
    --link-color: #4D4A48;
    --primary-color: #1785EA;
    --linear-gredient:rgb(23, 133, 234);
    --back-ground:#F5FAFF;
    --back2-ground:#FFF8F1;
    --back-footer:#000000;
    --color-footer:#FFFFFF;
   
    
}
/* Regular */
@font-face {
  font-family: "regular";
  src: url('../fonts/Poppins-Regular.ttf');
}
/* Medium */
@font-face {
  font-family: "mediums";
  src: url('../fonts/Poppins-Medium.ttf');
  
}
/* semibold */
@font-face {
  font-family: "semibold";
  src: url('../fonts/Poppins-SemiBold.ttf');

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* navbar */
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    max-width: 1152px !important;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
  margin-top: 30px;
  align-items:center;
}
nav{
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
   
}
.navbar li{
    padding-left: 30px;
    font-family: "regular";
    color: var(--link-color);
    cursor: pointer;
    font-size: 18px;
}
.navbar li:hover{
    color: var(--header-color);
    font-family: "mediums";
    
}
.navbar-brand{
  margin-top: 30px;
    margin-right: 267.3px;
}
/* responsiv emenu mobile */
.topnav .icon {
  display: none;
  
  
}
@media screen and (max-width: 600px) {
  .topnav nav {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
 
  
   
  }
  .topnav a{
    padding-left:100px ;
  }
  .icon i {
    text-decoration: none;
    color: #EA7C17;
    
   
 
    
  }
  .navbar{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    
    padding: 20px 0;
  }
  .navbar nav ul li{
    padding:20px ;
  }
  .right-side{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 0px;  
    padding: 20px 0;
  }
 
  .topnav.responsive nav  {
    
   
    position: absolute;
    top: 100%;
    right: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    background: var(--back2-ground);
    z-index: 9;
    padding: 20px 0;

    
  }

 
}
.right-side{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-left: 100px;  
}
.log{
    color: var(--header-color);
    background-color: #fff;
    border: none;
    
    font-family: "mediums";
    font-size: 18px;
    min-width: 129px;
    height: 59px;
}
.sign{
    color:#fff;
    background-color: var(--header-color);
    padding:19px 30px ;
    border:none ;
    box-shadow: 0px 4px 60px;
    border-radius: 10px;
    font-family: "mediums";
    font-size: 18px;
    min-width: 129px;
    height: 59px;
    
}
/* section1 */
.bg-home{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
 
}
.bg-image{
  
  height: 565px;
  
  margin-top: 35px;
  position: relative;
  margin-bottom: 82px;
}
.circle1 {
  position: absolute;
  bottom: -135px;
  left:110px;
  width:241px;
  height: 241px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}
.circle2{
  position: absolute;
  bottom: -135px;
  right: 15px;
  width:241px;
  height: 241px;
  background-color: #fff;
  border: none;
  border-radius: 50%; 
}
.part1{
  width: 521px;
  height: 362px;
  margin-top: 139px;
}
.part1 p{
  width: 440px;
  height: 87px;
  margin-top: 18px;
  color: var(--link-color);
  font-size: 18px;
  line-height: 1.3;
  font-family: "mediums";
}
.title{
  font-size: 61px;
  font-family: "semibold";
}

.title span{
  color: var(--primary-color);
}
.btn-home{
  padding: 15px 30px;
  background-color: var(--header-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  font-family: "mediums";
  font-size: 18px;
}
.btn1-home{
background-color: #fff;
border: none;
margin-left: 30px;
color: var(--link-color);
margin-top: 40px;
font-family: "mediums";
font-size: 18px;

}
.logos{
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
 justify-items: center;

margin: auto;
 box-shadow: 0px 10px 60px rgba(1, 13, 11, 40%);
 width: 1134px;
 height: 125px;
 border-radius: 10px;
 opacity: 50%;
 position: relative;
}
.bg-process{
  margin-top: 70px;
  background-image: url("../images/Rectangle 335.svg");
  width: 100%;
  height: 865px;
  position: relative;

}
.title-process{
  font-family: "semibold";
  font-size: 44px;
  text-align: center;
  padding-top: 70px;
  
}

.bg-process-cards{
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  
 
}
.card1{
  width: 358px;
  height: 380px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 40px 28px 50px 28px;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(1,13,11,6%);
  margin-left: 30px;
  position: relative;


}
@media screen and (max-width: 600px) {
  .card1{
    margin-bottom: 20px;
  }
  .bg-process{
    margin-top: 70px;
    background-image: url("../images/Rectangle 335.svg");
    width: 100%;
  
    position: relative;
  
  }
}
.card1 h2{
  font-size: 30px;
  font-family: "semibold";

}
.card1 p{
  font-size: 16px;
  font-family: "regular";
  color: var(--link-color);
  text-align: center;
}
.line1{
  width: 119px;
  height: 10px;
  background-color: #1785EA;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(1,13,11,6%);
 position: absolute;
 bottom: 1px;
 left: 1px;
}
.line2{
  width: 238px;
  height: 10px;
  background-color: #1785EA;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(1,13,11,6%);
 position: absolute;
 bottom: 1px;
 left: 1px;
}
.line3{
  width: 358px;
  height: 10px;
  background-color: #1785EA;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(1,13,11,6%);
 position: absolute;
 bottom: 1px;
}


.icon-process{
  background-image: linear-gradient( #1785EA, #1814E3);
 width: 130px;
 height: 130px;
 border-radius: 20px;
 display: flex;
    justify-content: center;
    align-items: center;

}
.icon-process img{
  padding: 35px;
  width: 60px;
}
/*section two */
.title-courses{
  font-family: "semibold";
  font-size: 44px;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 75px;
}
.card-courses{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 29px;
  row-gap: 30px;
  justify-content: center;
}
.card-1{
  width: 358px;
  height:474px ;
  box-shadow: 0px 4px 60px rgba(1, 13, 11, 5%);
  border: 1.5px solid #fff;
  border-radius: 20px;
  
}
.card-course h4{
width: 308px;
height: 50px;
font-size: 18px;
font-family: "mediums";
padding-left: 25px;



}
.card-course .p-course{
width: 303px;
height: 44px;
font-family: "regular";
font-size: 14px;
color: var(--link-color);
margin-top: 10px;
padding-left: 25px;

}
.cost{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cost span{
  width: 37px;
  height: 34px;
  color: #1785EA;
  font-size: 21px;
  font-family: "semibold";
  padding-left: 25px;
  margin-top: 16px;
}
.cost i{
  width: 46px;
  height: 46px;
  background-color: var(--header-color);
  border-radius: 10px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-course{
  position: relative;
}
.star{
  position: absolute;
  top: 8px;
  right: 16px;
  font-family: "regular";
  font-size: 14px;
  background-color: #fff;
  width: 67px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.notes{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 25px;
  font-family: "mediums";
  font-size: 14px;
  color: var(--link-color);
  
}
/* section three */
.bg-service{
  
  background-image: url("../images/Rectangle 341.svg");
  width: 100%;
  height: 865px;
  
  margin-top: 905px;

 
  
}
.bg-service-img{
  padding-top: 60px;
  display: flex;
  justify-content: center;  
 
}


  
